<footer class="footer">
  <small>
    copyright &copy; 2012 <a href="http://www.eideas.co.th"> by e-ideas co.,ltd</a>
     
  </small>
  <nav>
    <ul>
      <li><%= link_to "เกี่ยวกับเรา",   about_path %></li>
      <li><%= link_to "ติดต่อ", contact_path %></li>
      <li><a href="http://www.thaidrugpolice.com">ข่าวสาร</a></li>
    </ul>
  </nav>
</footer>